<div class="sidenav">
  <a routerLink="/spendings">Расходы</a>
  <a routerLink="/categories">Категории</a>
  <a routerLink="/newspending">Новый расход</a>
  <a routerLink="/profile">Профиль</a>
</div>

<div class="main">
  <form #formCategory="ngForm" (ngSubmit)="onSubmit(formCategory)">
    <h1>Добавление расходов</h1>
    <select name="category" ngModel>
      <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
    </select>
    <input type="number" name="summ" placeholder="Введите сумму..." required ngModel>
    <input type="date" name="dateSpent" placeholder="Введите дату..." required ngModel>
    <button type="submit">Добавить</button>
  </form>
</div>
