<div class="sidenav">
  <a routerLink="/spendings">Расходы</a>
  <a routerLink="/categories">Категории</a>
  <a routerLink="/newspending">Новый расход</a>
  <a routerLink="/profile">Профиль</a>
</div>

<nav class="bottomnav">
    <a routerLink="/spendings">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAtob5Fb0SLoH_F-TnB5D3FTFn4UUaIjq1Ng&usqp=CAU">
    </a>
    <a style="border-color: yellow" routerLink="/categories">
      <img src="https://st2.depositphotos.com/10376142/49678/v/600/depositphotos_496788252-stock-illustration-grey-casino-chips-exchange-on.jpg">
    </a>
    <a routerLink="/newspending">
      <img src="https://st2.depositphotos.com/10376142/49013/v/600/depositphotos_490133174-stock-illustration-grey-credit-card-and-dollar.jpg">
    </a>
    <a routerLink="/profile">
      <img src="https://st2.depositphotos.com/10376142/47164/v/450/depositphotos_471649254-stock-illustration-grey-line-dismissed-sad-young.jpg">
    </a>
</nav>

<div class="main">
  <form #formCategory="ngForm" (ngSubmit)="onSubmit(formCategory)">
    <h1>Добавление категорий</h1>
    <input type="text" name="category" placeholder="Введите название новой категории..." required ngModel>
    <input type="text" name="infoCategory" placeholder="Введите описание..." required ngModel>
    <button type="submit">Добавить</button>
  </form>
</div>
