<div class="sidenav">
  <a href="/tinkoffSolutionCup/spendings">Расходы</a>
  <a href="/tinkoffSolutionCup/categories">Категории</a>
  <a href="/tinkoffSolutionCup/newspending">Новый расход</a>
  <a href="/tinkoffSolutionCup/profile">Профиль</a>
</div>

<div class="main">
  <form #formCategory="ngForm" (ngSubmit)="onSubmit(formCategory)">
    <h1>Добавление категорий</h1>
    <input type="text" name="category" placeholder="Введите название новой категории..." required ngModel>
    <input type="text" name="infoCategory" placeholder="Введите описание..." required ngModel>
    <button type="submit">Добавить</button>
  </form>
</div>
