* {
  font-family: Intro;
  color: #565656;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 36px;
}

input {
  display: block;
  border: 1px transparent solid;
  border-radius: 6px;
  width: 280px;
  padding: 10px;
  background-color: white;
  margin: 10px auto;
  text-decoration: none;
  transition: all 1s ease-in-out;
}

button {
  cursor: pointer;
  display: block;
  border: 1px transparent solid;
  border-radius: 6px;
  width: 300px;
  padding: 10px;
  background-color: rgba(255, 255, 0, 0.83);
  margin: 10px auto;
  text-decoration: none;
  transition: all 1s ease-in-out;
}

button:hover {
  border-color: #565656;
  width: 400px;
}

.signup-container {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.signup-container > form {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

input {
  margin-left: auto;
  margin-right: auto;
}
input, a {
  display: block;
}

a {
  text-decoration: none;
  font-size: 14px;
}
