* {
  font-family: Intro;
  color: #565656;
  margin: 0;
  padding: 0;
}

.sidenav {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #565656;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 280px;
  padding: 20px 10px;
}

h2 {
  margin-bottom: 16px;
}

select, input {
  display: block;
  border: 1px transparent solid;
  border-radius: 6px;
  padding: 10px;
  background-color: white;
  margin-bottom: 16px;
  text-decoration: none;
  transition: all 1s ease-in-out;
}

button {
  cursor: pointer;
  display: block;
  border: 1px transparent solid;
  border-radius: 6px;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 0, 0.83);
  text-decoration: none;
  transition: all 1s ease-in-out;
}

.hists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

button:hover {
  border-color: #565656;
}

input[name='to'], input[name='from'] {
  width: calc(100% - 20px);
}

.history-list {
  padding: 10px;
  background-color: white;
  border-radius: 6px;
}

.history-list > table {
  width: 100%;
  margin-inline: auto;
  text-align: start;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 7px;
  transition: border-radius 1s ease-in-out;
}

thead {
  font-size: 20px;
}

th {
  padding-bottom: 5px;
  text-align: start;
}

@media screen and (max-width: 1020px) {
  .hists {
    grid-template-columns: 1fr;
  }
  .main {
    margin-left: 0;
    margin-bottom: 80px;
  }
  th:nth-child(2), td:nth-child(2) {
    display: none;
  }
  th{
    font-size: 18px;
  }
  td{
    font-size: 16px;
  }
}
