<div class="sidenav">
  <a routerLink="/spendings">Расходы</a>
  <a routerLink="/categories">Категории</a>
  <a routerLink="/newspending">Новый расход</a>
  <a routerLink="/profile">Профиль</a>
</div>

<nav class="bottomnav">
    <a style="border-color: yellow" routerLink="/spendings">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAtob5Fb0SLoH_F-TnB5D3FTFn4UUaIjq1Ng&usqp=CAU">
    </a>
    <a routerLink="/categories">
      <img src="https://st2.depositphotos.com/10376142/49678/v/600/depositphotos_496788252-stock-illustration-grey-casino-chips-exchange-on.jpg">
    </a>
    <a routerLink="/newspending">
      <img src="https://st2.depositphotos.com/10376142/49013/v/600/depositphotos_490133174-stock-illustration-grey-credit-card-and-dollar.jpg">
    </a>
    <a routerLink="/profile">
      <img src="https://st2.depositphotos.com/10376142/47164/v/450/depositphotos_471649254-stock-illustration-grey-line-dismissed-sad-young.jpg">
    </a>
</nav>

<div class="main">
  <h1>Расходы</h1>
  <div class="hists">
    <div>
      <canvas #doughnutCanvas style="cursor: pointer; margin: 10%"></canvas>
    </div>
    <div>
      <canvas #lineCanvas style="cursor: pointer; margin: 5%"></canvas>
      <div style="margin: 5%;">
        <h2>Счет суммы расходов</h2>
        <form #formCountSpends="ngForm" (ngSubmit)="onSubmit(formCountSpends)">
          <p>От</p>
          <input type="date" name="from" required ngModel>
          <p>До</p>
          <input type="date" name="to" required ngModel>
          <button type="submit">Рассчитать!</button>
        </form>
      </div>
    </div>
  </div>
  <div class="history">
    <div>
      <select name="categoryModel" [(ngModel)]="categoryModel">
        <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
      </select>
      <input max="{{toDateModel}}" type="date" name="fromDateModel"
             [(ngModel)]="fromDateModel">
      <input type="date" min="{{ fromDateModel }}" name="toDateModel"
             [(ngModel)]="toDateModel">
    </div>
    <div class="history-list">
      <table>
        <thead>
          <tr>
            <th>Категория</th>
            <th>Описание</th>
            <th>Потрачено</th>
            <th>Дата</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let spending of spendings">
            <ng-container *ngIf="(!categoryModel || categoryModel==spending.category) && (!toDateModel
        || spending.date<=toDateModel) && (!fromDateModel || spending.date>=fromDateModel)">
              <td>{{categories[spending.category].name}}</td>
              <td>{{categories[spending.category].info}}</td>
              <td>{{spending.spent}}</td>
              <td>{{spending.date}}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>

      <button (click)="exportToCsv()">Export to CSV</button>
    </div>
  </div>
</div>
